@font-face {
    font-family: 'MyWebFont';
    src: URL('CONSOLA.TTF') format('truetype');
}

html {
    min-height: 100%;
}

body {
    font-family: 'MyWebFont', Fallback, sans-serif;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

a {
    text-decoration: none;
    color: aliceblue;
}
/*
.be {
    background-color: aqua;
}

.bf {
    background-color: rebeccapurple;
}

.main_bg {
    background-color: greenyellow;
}
*/
#grad {
    background-color: black;
    background-image: linear-gradient(to bottom right, rgb(168, 59, 172), rgb(0, 102, 255));
}
/*
.searchbox {
    position: relative;
    width: 100%;
    margin: 10vw auto 0px;
    text-align: center;
}

.searchbox input:hover, .searchbox input:focus {
    border-bottom: 2px aliceblue;
}

*/

hr {
    background-color: black;
    background-image: linear-gradient(to bottom right, rgb(45, 226, 139), rgb(89, 46, 244));
    border: none;
    border-radius: 3px 3px 3px 3px;
    width: 100%;
    height: 5px;
}

.searchbox input {
    padding: 5px 0px 5px 0px;
    
    border: 2px solid transparent;
    border-bottom: 2px solid transparent;
    text-align: center;
    font-size: 24px;
    color: aliceblue;
    background: transparent;
    outline: none;
    width: 100%;
    
}

.searchbox {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.box-cut {
    color: aliceblue;
    background-color: black;
    background-image: linear-gradient(to bottom right, rgb(45, 226, 139), rgb(89, 46, 244));
    border: 2px solid #161618;
    padding: 10px;
    border-radius: 8px 8px 8px 8px;
}

.box-cut2 {
    color: aliceblue;
    background-color: #161618;
    padding: 5% 5% 5% 5%;
    border-radius: 8px 8px 8px 8px;
}

.linkbox {
    text-align: center;
}

.clo {
    color: aliceblue;
    background-color: #161618;
    padding: inherit;
    border-radius: 8px 8px 8px 8px;
}

#clock {
    font-size: 3vw;
}

.box-corner {
    padding: 10px 10px 10px 10px ;
    color: aliceblue;
    background-color: black;
    border: 1% solid white;
    clip-path: polygon(100% 0, 100% 80%, 80% 100%, 0 100%, 0 0);
}

#firstcol {
    padding-bottom: 5%
}
